
.card-container {
  max-width: 298px;
  border-style: solid;
  border-width: 1px;
  border-color: #D4D4D4;
  padding: 10px;
  box-shadow: 10px 10px 1px #E4E4E4;
}

.picture {
  width: 300px;
  height: 200px;
}

.facts-container {
  padding: 10px;
  max-width: 278px;
  border-style: solid;
  margin-top: 15px;
  border-width: 1px;
  border-color: #D4D4D4
}

.interesting-fact, .list, .label, .description {
  font-size: 14px;
}

.interesting-fact{
  font-style: italic;
}

.list {
  list-style: none;
  padding: 0;
}

.label {
  font-weight: bold;
}
